html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../img/fundo-fundo.jpg') no-repeat center center;  
    background-size: cover;
}

:root {
    --display: block;
    --border-radius: 50%;
    --margin-bottom: 70px;
    --width: 50px;
    --relative: relative;
    --absolute: absolute;
    --top: 30px;
    --left: -100px;
    --padding: 5px;
    --opacity-0: 0;
    --opacity-1: 1;
    --pointer-events-auto: auto;
    --pointer-events-none: none;
    --transform: translate(-2px , -2px);
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    --transition: transform 0.4s border 0.4s;
    --box-sizing: border-box;
}

