.github, .github-color {
    display: var(--display);
    width: var(--width);
    position: var(--absolute);
    top: var(--top);
    left: var(--left);
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: white;
    outline: 2px solid #151B23;
}


.github, .container:hover .github-color {
    opacity: var(--opacity-1);
    pointer-events: var(--pointer-events-auto); 
    box-shadow: var(--box-shadow);
    box-sizing: var(-- box-sizing);
}

.github-color, .container:hover .github  {
    opacity: var(--opacity-0); 
    pointer-events: var(--pointer-events-none);   
    transform: var(--transform); 
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    outline: 2px solid #151B23;
    background-color: #151B23;
    
}

@media (min-width: 320px) and (max-width: 1024px) {
    
    .github, .github-color {
        top: 3.125rem;
        left: var(--left);
        width: var(--width);  
    }
    
}


