.home , .home-color {
    display: var(--display);
    width: var(--width);
    position: var(--absolute);
    top: var(--top);
    left: var(--left);
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: white;
    outline: 2px solid #151B23;
}

.home, .container:hover .home-color {
    opacity: var(--opacity-1);
    pointer-events: var(--pointer-events-auto); 
    box-shadow: var(--box-shadow);
    box-sizing: var(-- box-sizing);
}

.home-color, .container:hover .home {
    opacity: var(--opacity-0); 
    pointer-events: var(--pointer-events-none); 
    outline: 2px solid orange;  
    transform: var(--transform); 
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

@media (min-width: 320px) and (max-width: 1024px) {
    
    .home , .home-color {
        width: var(--width);
        top: 3.75rem;
        left: var(--left);  
    }
    
}
