main {
    position: relative;
    height: 100vh;
}

#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../img/frame-iphone.png') no-repeat center center;  
    
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 470px;
    width: 267px;
}

@media (min-width: 320px) and (max-width: 1024px) {
    main {
        width: 100%;
        height: 100vh;
    }

    #phone {
        width: 100%;
        height: 400px;
        background: url(../img/frame-iphone.png) no-repeat center center;
        background-size: contain;        
        display: inline-block;
        margin: 0px auto 0px auto;
        text-align: center;
        
    }

    #tela {
        margin: -28px 0 0 -42px;
        height: 300px;
        width: 170px;
    }

}

