.twitter, .twitter-color {
    display: var(--display);
    width: var(--width);
    position: var(--absolute);
    top: var(--top);
    left: var(--left);
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 2px solid #000;
    background-color: white;
}

.twitter, .container:hover .twitter-color {
    opacity: var(--opacity-1);
    pointer-events: var(--pointer-events-auto); 
    box-shadow: var(--box-shadow);
    box-sizing: var(-- box-sizing);
}

.twitter-color, .container:hover .twitter {
    opacity: var(--opacity-0); 
    pointer-events: var(--pointer-events-none); 
    transform: var(--transform); 
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    background-color: #000;
}

@media (min-width: 320px) and (max-width: 1024px) {
    
    .twitter, .twitter-color {
        top: 2.1875rem;
        left: var(--left);
        width: var(--width);
    }
    
}